#home
{
    font-size: 40px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
    background-color: aqua;
}
h1{
    color:rgb(235, 9, 9)
}
.hom{
    color: aqua;
}